/*禁用jQuery mobileĬ原有样式*/
/*.ui-loader-default{ display:none}*/
/*.ui-mobile-viewport{ border:none;}*/
/*.ui-page {padding: 0; margin: 0; outline: 0}*/

html,body{font-size: 62.5%;height:100%;font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;}
body{height: 100%;}    /*1.2em=12px*/
.clearfix:after {content: ".";display: block;height: 0.5rem;clear: both;visibility: hidden;  }   /*撑开div便于设置样式属性*/
.clearfix > div{padding: 0;}
label,p{margin-bottom: 0.5rem;}
header{height: 10%;position: relative;}
header img{height: 100%;width: 100%;position: absolute;}
header h4{color: #FFF;position: absolute;bottom: 1%;left: 8%;}  /*修改bootstrap内h1,h2...margin-top*/

.container > div{margin: 1.7rem 0;}
.menu-btn{padding: 0;border:0.1rem solid #B6BF00;border-radius: 0.4rem;text-align: center;}
.item{box-shadow: 0 0.2rem #E0E0E0;}
img{width: 100%;}
input{outline:none;}
/*button{font-size: 2.2rem;border-radius: 0.5rem;border: 0.1rem solid;height: 200%;line-height: 200%;}*/
button{border: 0.1rem solid;border-radius: 0.8rem;height: 2.5rem;font-size: 1.2rem;outline:none;}

.txt-center{text-align: center;}

.img-div{margin-top: 1rem;box-shadow: 0 0 0.8rem #777;}


/*color*/
.style-bg-green{background-color: #B6BF00;color: #FFF!important;}
.style-white{color: #FFF;}
.style-green{color: #B6BF00;}
.style-gray{color: #CDCDCD;}
.style-deepGray{color: #9C9C9C;}
.style-btn-green{color: #B6BF00;border-color: #B6BF00;}
.style-btn-gray{color: #CACACA;border-color: #CACACA;}
.style-bg-gray{border-color: #F5F5F5!important;background-color: #F5F5F5;}

/*用div重写select样式*/
/*.select{margin: auto 0.6rem;height: 2.3rem;}*/
/*.select input{width: 100%;outline:none;border: 0.2rem solid #E0E0E0;border-radius: 0.5rem;}*/
/*.select i{position: absolute;top: 10%;right: 10%;}*/
/*.select ul{position: relative;padding: 0;background-color: #FFF;z-index: 20;list-style: none;border: 0.1rem solid #E0E0E0;border-radius: 0.2rem;}*/
