/********************Êý¾Ý·ÖÒ³ÑùÊ½********************/

#pagination-flickr li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none; /* savers */
    float: left;
    font-family: Î¢ÈíÑÅºÚ;
    padding-right: 10px;
    padding-left: 10px;
}

#pagination-flickr a {
    margin-right: 4px;
}

#pagination-flickr .firstPage{
	margin-top:2px;
}

#pagination-flickr .identify-page{
	margin-top:-3px;
}

 /*<!--ÑîÑþ-edit-20170227-start-->*/
#pagination-flickr .previous-off, #pagination-flickr .next-off {
    color: #000000;
    display: block;
    float: left;
    padding: 1px 4px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
/*<!--ÑîÑþ-edit-20170227-end-->*/
#pagination-flickr .next a, #pagination-flickr .previous a {
    border: solid 1px #FFFFFF;
}

#pagination-flickr .active {
    border: solid 1px #B6BF00;
    background-color: #B6BF00;
    color: #FFF;
    font-weight: bold;
    display: block;
    float: left;
    padding: 0px 5px 0px 5px;
    margin-right: 3px;
}

#pagination-flickr a:link,
#pagination-flickr a:visited {
    color: #5C6F7D;
    display: block;
    float: left;
    padding: 1px 5px;
    text-decoration: none;
}

#pagination-flickr a:hover {
    border: solid 1px #B6BF00;
    /*background: #B6BF00;*/
    color: #5C6F7D;
}


#pagination-flickr ul {
    border: 0;
    margin: 0;
    padding: 0;
}

.datalist-paging {
    float: right;
}
