/*#filter{height: 2.5rem;font-size: 1.5rem;}*/
.score{padding-left: 0;}
.div-select{margin: auto 0.5rem;height: 2.3rem;position: relative;}
/*修改select选择框样式*/
select {appearance: none;-moz-appearance: none;-o-appearance: 0.3rem;-webkit-appearance: none;border-radius: 0.5rem;height: 2.3rem;width: 100%;outline:none;position: absolute;border: 0.1rem solid #9C9C9C;padding: 0 1.0rem;font-size: 1.2rem;}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {display: none;}
.fa-sort-down{position: absolute;right: 7%;top: 10%;}
option{font-size: 1.0rem;border: none;}
